.mySkillsContainer{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  /* min-height: 10vh; */
}
.title h4{
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}
span{
  font-weight: 800;
}
.skills{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1.6rem;
}
.skillItem{
  max-width: 300px;
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 15px 2px;
  border: 1px solid #000000;
  border-radius: .3rem;
}
.skillItem p{
  font-weight: 700;
}
.skillItem:hover{
  background-color: #000000;
  color: #ffff;
}
.icon{
  text-align: center;
  font-size: 38px;
}
@media screen and (min-width: 768px){
  .skills{
  grid-template-columns: repeat(3, 1fr);
}
}
